<h5>1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.</h5>

In [3]:
test1 = "This is a test of the emergency text system,"
filee = open('test.txt','w')
filee.write(test1)

44

<h5>2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?</h5>

In [4]:
file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

<h5>3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992</h5>

In [5]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

<h5>4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).</h5>

In [6]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

<h5>5. Read books.csv and insert its data into the book table.</h5>

In [7]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

<h5>6. Select and print the title column from the book table in alphabetical order.</h5>

In [8]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

<h5>7. From the book table, select and print all columns in the order of publication.</h5>

In [9]:
c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

<h5>8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.</h5>

In [11]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.36-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 105.0 kB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp310-cp310-win_amd64.whl (101 kB)
     ------------------------------------ 102.0/102.0 KB 177.8 kB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.36

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'C:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

In [12]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

<h5>9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.</h5>

In [19]:
!pip install redis

Defaulting to user installation because normal site-packages is not writeable

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'C:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: redis in c:\users\anil\appdata\roaming\python\python310\site-packages (4.3.1)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\anil\appdata\roaming\python\python310\site-packages (from redis) (4.0.2)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\anil\appdata\roaming\python\python310\site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in c:\users\anil\appdata\roaming\python\python310\site-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\anil\appdata\roaming\python\python310\site-packages (from deprecated>=1.2.3->redis) (1.14.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\anil\appdata\roaming\python\python310\site-packages (from packaging>=20.4->redis) (3.0.8)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

<h5>10. Increment the count field of test and print it.</h5>

In [ ]:
conn.hincrby('test','count', 3)